
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
 body{
     font-family: "Roboto", sans-serif;
 }   

#image-quiki{
    width: 100vw;
    height: 75vh;
    opacity: 0.9;
}

#Welcome{
   font-size: 23px;
   position: relative;
   float: left;
   left: 530px;
   top: 15px;
   font-family: "Special Gothic Expanded One", sans-serif;

}

footer{
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
}

#navbar ul{

    padding: 20px;
}
#navbar img{
    position: absolute;
    width: 50px;
    left: 2em;
}

.navbar-nav{
    display: flex;
    gap: 3em;
    justify-content: end;
}