body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Centralizar o contêiner do formulário */
#login-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* Ajustes para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 1000px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos de entrada */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#works {
    display: flex;
    flex-direction: column;

}

/* Garantir que os textos fiquem em cima e os inputs abaixo */
#works label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}


#bio {
    width: 100%; /* Garante que ocupe toda a largura disponível */
    height: 500px; /* Aumento significativo da altura */
    resize: none; /* Remove a possibilidade de redimensionar manualmente */
}


/* Estilo para botões */
input[type="submit"], #dark-mode-button {
    width: 150px; /* Reduzi a largura */
    height: 40px; /* Ajustei a altura */
    padding: 5px; /* Reduzi o preenchimento interno */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover, #dark-mode-button:hover {
    background-color: #0056b3;
}


/* Estilo para a imagem do perfil */
#profile-img {
    width: 150px; /* Tamanho maior para evitar cortes */
    height: 150px;
    border-radius: 50%;
    margin-top: 100px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}


