
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

 body{
    background: fixed no-repeat #363636;
    color: aliceblue;
    font-family: "Lexend", sans-serif;
 }   
 footer{
    bottom: 0px;
    background-color: #3f3f3f;
    height: 40px;
    width: 100vw;
    color: aqua;
    text-align: center;
    
    
 }
#copyright{
    font-size: 15px;
     font-family: "Special Gothic Expanded One", sans-serif;
     position: relative;
     top: 10px;
   
    

}

#image-quiki{
    width: 100vw;
    height: 75vh;
    opacity: 0.9;
}

#Welcome{
   font-size: 23px;
   position: relative;
   float: left;
   left: 400px;
   top: 15px;
   font-family: "Special Gothic Expanded One", sans-serif;

}



#navbar ul{

    padding: 20px;
}
#navbar img{
    position: absolute;
    width: 50px;
    left: 2em;
}

#navbar a:hover{
    color: #d0d8df;

}

.navbar-nav{
    display: flex;
    gap: 3em;
    justify-content: end;
}


#search{
    display: block;
    margin: 10px auto;
}

.form-control{
    width: 20em;
    padding: 1vh;
    border: solid white 2px;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
}

#title-posts{
    text-align: center;
    text-transform: capitalize;
}
.base{
display: inline-block;
}

.card-col-md3{
    display: block;
    padding: 50px;
    border: 2px groove rgb(184, 184, 184);
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 10px;
}


.col-md-6 {
    padding: 50px;
    margin: auto;
    width: 20em;
    background-color: #353535;
    text-align: center;
    border: solid #212124 2px;
    border-radius: 5px;
}

.col-md-6 img{
    border: hidden;
    border-radius: 25px;
    width: 50vh;
}



.default-IMG{
    width: 20vh;
    height: 20vh;
    max-width: 20vh;
    max-height: 20vh;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 3px 0px 0px #0000002d;
}

.card-body{
    padding: 5vh;
    color: #00d3c8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#event-create-conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 390px;
    height: 800px;
    margin-left: 500px;
    border-radius: 5px;
    margin: 50px auto 100px auto;
    
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Create-event-title{
    font-family: "Special Gothic Expanded One", sans-serif;
}

#submit-create-event{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 40px;

}

.form-group input[type="text"]{
    border-radius: 5px;

}
.form-group input[type="text"]:focus {
   border-color: cyan; /* Muda a cor da borda ao focar */
    background-color: #f0f8ff; /* Altera a cor do fundo ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
    color: #121213;
}
/*Opções do formulario */
#private{
    background-color: #7b7b7c;

}
#date:focus{
    border-color: cyan; /* Muda a cor da borda ao focar */
    background-color: #f0f8ff; /* Altera a cor do fundo ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
    color: #121213;
    
}
#description:focus{
      border-color: cyan; /* Muda a cor da borda ao focar */
    background-color: #f0f8ff; /* Altera a cor do fundo ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
    color: #121213;

}
.form-group textarea{
    border-radius: 5px;
    height: 130px;
}

.btn-primary{
    width: 100px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #0617ffd5;
    transition: 0.5s;
    cursor: pointer;
    margin-top: -10px;
}

.btn-primary:hover{
    background-color: #060e7cd5;
    

}